@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.glass {
    background: rgb(172, 171, 171);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.typing {
    display: block;
    width: 60px;
    height: 40px;
    border-radius: 20px;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #8d8d8d;
    margin: 3px;
}

.circle .scaling{
    animation: typing 1000ms ease-in-out infinite;
    animation-delay: 3600ms;
}